<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        {% include 'templates/header.html' %}
    </head>

<body id="editPlaylist">
    {% include 'templates/navbar.html' %}
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1>Update video</h1>
                    <form target="uploadTarget" action="/updatePlaylist" method="post" enctype="multipart/form-data">

                        {% for file in playlistResult %}
                        <div class="form-group">
                            <label for="title">Title: </label>
                            <input type="text" id="title" name="title" value="{{file.title}}" required><br />
                        </div>

                        <div class="form-group">
                            <label for="description">Description: </label>
                            <input type="text" id="description" name="description" value="{{file.description}}"
                                required><br />
                        </div>

                        <div class="form-group">
                            <label for="thumbnailUrl">ThumbnailUrl: </label>
                            <input type="text" id="thumbnailUrl" name="thumbnailUrl" value="{{file.thumbnailUrl}}"
                                required><br />
                        </div>
                        <input type="hidden" id="order" name="order" value="0">
                        <input type="hidden" id="playlistID" name="playlistID" value="{{file.playlistID}}">

                        {% endfor %}


                        <h3>Videos in playlist</h3>

                        <ul id="playlist" class="sortableList">
                            {% for file in videoInPlaylist %}
                            <li data-id={{file.videoID}}>{{file.title}}</li>
                            {% endfor %}
                        </ul>


                        <h3>All videos</h3>
                        <ul id="all" class="sortableList">
                            {% for file in videoNotInPlaylist %}
                            <li data-id={{file.videoID}}>{{file.title}}</li>
                            {% endfor %}
                        </ul>
                        <input onclick="setTimeout(function(){window.location.href = '/manageVideos';},10)"
                            type="submit" value="Update Playlist" class="btn btn-primary">
                    </form>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </section>

    <iframe src="blank.html" frameborder="0" name="uploadTarget" id="uploadTarget" height="1" width="1"></iframe>

    <!-- Sortable.js -->
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
    <script src="/assets/js/playlist.js"></script>

</body>

</html>