<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'templates/header.html' %}
</head>

<body id="editVideo">
    {% include 'templates/navbar.html' %}
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1>Edit video</h1>
                    <form target="uploadTarget" action="/updateVideo" method="POST" enctype="multipart/form-data">

                        {% for file in queryResult %}
                        <input hidden id="videoID" name="videoID" value="{{ file.videoID }}">

                        <div class="form-group">
                            <label for="title">Tittel: </label>
                            <input type="text" id="title" name="title" value="{{ file.title }}" required><br />
                        </div>

                        <div class="form-group">
                            <label for="description">Description: </label>
                            <input type="text" id="description" name="description" value="{{ file.description }}"
                                required><br />
                        </div>

                        <div class="form-group">
                            <label for="thumbnailUrl">ThumbnailUrl: </label>
                            <input type="text" id="thumbnailUrl" name="thumbnailUrl" value="{{ file.thumbnailUrl }}"
                                required><br />
                        </div>

                        <div class="form-group">
                            <label for="subject">Subject: </label>
                            <input type="text" id="subject" name="subject" value="{{ file.subject }}" required><br />
                        </div>

                        <div class="form-group">
                            <label for="theme">Theme: </label>
                            <input type="text" id="theme" name="theme" value="{{ file.theme }}" required><br />
                        </div>
                        {% endfor %}

                        <input onclick="setTimeout(function(){window.location.href = '/manageVideos';},10)"
                            type="submit" value="Update"  class="btn btn-primary">
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>

    <iframe src="blank.html" frameborder="0" name="uploadTarget" id="uploadTarget" height="1" width="1"></iframe>

</body>

</html>