<!DOCTYPE html>
<html lang="en">
<!--
    After logging in, the user (if he/her is a student) will be redirected here.
    The front page contains a list of playlist in the user's subscription plan.
    The user may open a playlist to view it's videos.
-->
<head>
    {% include 'templates/header.html' %}
</head>

<body>
{% include 'templates/navbar.html' %}

<section id="frontpage-content">
    <div class="container">
        <div class="row playlist-card-row justify-content-center">
            <div class="col-md-12">
                <h1 class="text-center">Your Subscription Feed</h1>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <button type="button" class="btn btn-dark btn-lg btn-block"><a href="/search">Search</a></button>
            </div>
            <div class="col-4"></div>
        </div>
        {% if subStatus==none %}
        <div class="row">
            <div class="alert alert-primary" role="alert">
                <p class="text-center">You are not subscribed to any playlists yet. Click here to <a href="#">search.</a></p>
            </div>
        </div>
        {% elseif playlistStatus == empty %}
        <div class="row">
            <div class="alert alert-primary" role="alert">
                <p class="text-center">Your subscriptions does not contain any playlists yet. <a href="#">Search playlists</a></p>
            </div>
        </div>
        {% else %}
        <div class="row">
            {% for list in playlists %}
            <div class="col-md-4 playlist-card-col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ list.thumbnailUrl }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{ list.title|e }}</b></h5>
                        <p class="card-text">{{ list.description }}</p>
                        <form action="/getPlaylistVideos" method="POST">
                            <input type="hidden" name="playlistID" value="{{list.playlistID}}">
                            <input type="submit" class="btn btn-primary" value="View Playlist">
                        </form>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>


</body>
</html>