<!DOCTYPE html>
<!-- Front page for not logged in users -->
<html lang="en">
<head>
    {% include 'templates/header.html' %}
</head>
<body id="index">
{% include 'templates/navbar.html' %}
<section id="front">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col align-self-center">
                <h1>Welcome to NTNU Tube</h1>
                <p>Watch your subscribed NTNU courses anytime, anywhere.</p>
            </div>
        </div>
        <div class="row btn-row align-items-center justify-content-center">
            <div class="col col-left align-self-center">
                <button type="button" class="btn btn-info"><a href="/login">Log in</a></button>
            </div>
            <div class="col col-right align-self-center">
                <button type="button" class="btn btn-dark"><a href="/signup">Sign Up</a></button>
            </div>
        </div>
    </div>
</section>

</body>
</html>