<!DOCTYPE html>
<!-- User login form. Please be aware that redirect does not work properly on failed login attemps
     (displays a blank page).
-->
<html lang="en">
<head>
    {% include 'templates/header.html' %}
</head>

<body id="login">
{% include 'templates/navbar.html' %}
<section class="form-alert">
    <div class="container">
        <div id="fail" class="alert alert-danger" role="alert">
            <h4 class="text-center">Login failed.</h4>
            <p class="text-center">Check that your username and password are correct and try again.</p>
        </div>
    </div>
</section>

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Log In</h1>
                <form action="/loginuser" method="POST" target="autUser">

                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" name="email" class="form-control" placeholder="name@example.com"
                               aria-describedby="emailHelp" required>
                        <small id="emailHelp" class="form-text text-muted">This is also your username.</small>
                    </div>

                    <div class="form-group">
                        <label for="passwordHash">Password: </label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="auth" class="form-check-input">
                        <label for="auth" class="form-check-label">Remember me? </label>
                    </div>

                    <input type="submit" name="login" value="Log In" class="btn btn-primary">

                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<!-- Commented out as redirect on successful login would not work. We have a working version of this
     principal on the signup page, please check that one out. -->
<!--<iframe src="blank.html" frameborder="0" name="autUser" id="autUser" height="1" width="1"></iframe>-->

<script src="assets/js/displayError.js"></script>
</body>
</html>