<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'templates/header.html' %}
</head>

<body>
  {% include 'templates/navbar.html' %}
  <section id="manage">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Manage videos and playlists</h1>
          <p><a href="/upload">Upload new video</a></p>
          <p><a href="/newPlaylist">Upload new playlist</a></p>
          <h2>Videos</h2>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">ThumbnailUrl</th>
                <th scope="col">Subject</th>
                <th scope="col">Theme</th>
                <th scope="col">Lecturer</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for file in videoResult %}
              <tr>
                <td>{{file.title}}</td>
                <td>{{file.description}}</td>
                <td><img src="{{file.thumbnailUrl}}" alt="{{file.thumbnailUrl}}" height="100" width="150"></td>
                <td>{{file.subject}}</td>
                <td>{{file.theme}}</td>
                <td>{{file.lecturer}}</td>
                <td>
                  <form method="POST" action="/editVideo" enctype="multipart/form-data">
                    <input type="hidden" name="videoID" value="{{file.videoID}}">
                    <input type="submit" value="Edit"  class="btn btn-primary">
                  </form>
                </td>
                <td>
                  <form method="POST" action="/deleteVideo" enctype="multipart/form-data" target="refreshTable"
                    onsubmit="setTimeout(function(){window.location=window.location;},10)">
                    <input type="hidden" name="videoID" value="{{file.videoID}}">
                    <input type="submit"  class="btn btn-primary" value="Delete"
                      onclick="return confirm('Are you sure you want to delete video with id: {{file.videoID}}?');">
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <iframe src="blank.html" frameborder="0" name="refreshTable" id="refreshTable" height="1" width="1"></iframe>



          <h2>Playlists</h2>
          <table class="table table-striped">
            <thead class="thead-dark">
              <th>Lecturer</th>
              <th>Title</th>
              <th>Description</th>
              <th>ThumbnailUrl</th>
              <th>Edit</th>
              <th>Delete</th>
            </thead>
            <tbody>
              {% for file in playlistResult %}
              <tr>
                <td>{{file.lecturer}}</td>
                <td>{{file.title}}</td>
                <td>{{file.description}}</td>
                <td><img src="{{file.thumbnailUrl}}" alt="{{file.thumbnailUrl}}" height="100" width="150"></td>
                <td>
                  <form method="POST" action="/editPlaylist" enctype="multipart/form-data">
                    <input type="hidden" name="playlistID" value="{{file.playlistID}}">
                    <input type="submit" value="Edit"  class="btn btn-primary">
                  </form>
                </td>
                <td>
                  <form method="POST" action="/deletePlaylist" enctype="multipart/form-data" target="refreshTable"
                    onsubmit="setTimeout(function(){window.location=window.location;},20)">
                    <input type="hidden" name="playlistID" value="{{file.playlistID}}">
                    <input type="submit"  class="btn btn-primary" value="Delete"
                      onclick="return confirm('Are you sure you want to delete playlist with id: {{file.playlistID}}?');">
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</body>

</html>