<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    {% include 'templates/header.html' %}
  </head>

<body id="newPlaylist">
  {% include 'templates/navbar.html' %}
  <section id="main">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1>Create New Playlist</h1>
          <form target="uploadTarget" action="/addPlaylist" method="post" enctype="multipart/form-data">

            <div class="form-group">
              <label for="title">Title: </label>
              <input type="text" id="title" name="title" required><br />
            </div>

            <div class="form-group">
              <label for="description">Description: </label>
              <input type="text" id="description" name="description" required><br />
            </div>

            <div class="form-group">
              <label for="thumbnailUrl">ThumbnailUrl: </label>
              <input type="text" id="thumbnailUrl" name="thumbnailUrl" required><br />
            </div>

            <input type="hidden" id="order" name="order" value="0">

            <h3>Videos in playlist</h3>
            <ul id="playlist" class="sortableList"></ul>


            <h3>All videos</h3>
            <ul id="all" class="sortableList">
              {% for file in queryResult %}
              <li data-id={{file.videoID}}>{{file.title}}</li>
              {% endfor %}
            </ul>
            <input onclick="setTimeout(function(){window.location.href = '/manageVideos';},10)" type="submit"
              value="Create Playlist" class="btn btn-primary">
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </section>

  <!-- Sortable.js -->
  <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
  <script src="/assets/js/playlist.js"></script>

  <iframe src="blank.html" frameborder="0" name="uploadTarget" id="uploadTarget" height="1" width="1"></iframe>


</body>

</html>