<!DOCTYPE html>
<!-- Displays search results for videos and playlists -->
<html lang="en">
<head>
    {% include 'templates/header.html' %}
</head>

<body>
    {% include 'templates/navbar.html' %}

    <section id="show-search-results">
        <div class="container">
            {% if status == FAIL %}
            <h1 class="text-center">Could not find any matching results.</h1>
            {% else %}
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Videoresults</h1>
                </div>
            </div>
            <div class="row">
                {% for video in videos %}
                <div class="col-md-4 playlist-card-col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ video.thumbnailUrl }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><b>{{ video.title|e }}</b></h5>
                            <p class="card-title">{{ video.description }}</p>
                            <p class="card-title">{{ video.subject }}</p>
                            <p class="card-title">{{ video.theme }}</p>
                            <p class="card-text">{{ video.description }}</p>
                            <form action="/getVideo" method="POST">
                                <input type="hidden" name="videoID" value="{{video.videoID}}">
                                <input type="submit" class="btn btn-primary" value="Play">
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Playlistresults</h1>
                </div>
            </div>
            <div class="row">
                {% for list in playlists %}
                <div class="col-md-4 playlist-card-col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ list.thumbnailUrl }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><b>{{ list.title|e }}</b></h5>
                            <p class="card-title">{{ list.description }}</p>
                            <p class="card-title">{{ list.subject }}</p>
                            <p class="card-title">{{ list.theme }}</p>
                            <p class="card-text">{{ list.description }}</p>
                            <form action="/getPlaylist" method="POST">
                                <input type="hidden" name="playlistID" value="{{list.videoID}}">
                                <input type="submit" class="btn btn-primary" value="Play">
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
         




</body>
</html>