<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'templates/header.html' %}
</head>

<body>
    {% include 'templates/navbar.html' %}

    <section id="search">
        <div class="container">
            <div class="row">
                <div class="col-12"><h1 class="text-center">Search for Playlists and Videos</h1></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <form action="/searchLookup" method="POST">

                        <div class="form-group">
                            <label for="lecturer">Lecturer</label>
                            <input type="text" name="lecturer" class="form-control" placeholder="Lecturer Name">
                        </div>
    
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" name="subject" placeholder="Name of subject" >
                        </div>
    
                        <div class="form-group">
                            <label for="ptheme">Theme</label>
                            <input type="text" name="theme" class="form-control" placeholder="Related theme">
                        </div>

                        <div class="form-group">
                            <label for="ptheme">Titile</label>
                            <input type="text" name="title" class="form-control" placeholder="Title of video/playlist">
                        </div>
    
                        <div class="form-check">
                            <input type="checkbox" name="searchVideos" class="form-check-input">
                            <label for="searchVideos" class="form-check-label">Videos</label>
                            <input type="checkbox" name="searchPlaylists" class="form-check-input">
                            <label for="searchPlaylists" class="form-check-label">Playlists</label>
                        </div>
    
                        <input type="submit" name="search" value="Search" class="btn btn-primary">
                    </form>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </section>

</body>
</html>