<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'templates/header.html' %}
</head>

<body>
    {% include 'templates/navbar.html' %}
    <section id="manage">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% for video in videoResults %}
                    <video width="100%" height="750" controls>
                        <source src="/videos/{{video.videoID}}.mp4" type="video/mp4">
                    </video>

                    <form action="/addComment" method="post" enctype="multipart/form-data" target="uploadTarget">
                        <label for="comment">Comment: </label>
                        <textarea class="form-control" id="comment" name="comment"></textarea><br />
                        <input type="hidden" id="videoID" name="videoID" value="{{video.videoID}}">
                        <input type="submit" value="Post comment" class="btn btn-primary">
                    </form><br />

                    <form action="/addRating" method="post" enctype="multipart/form-data" target="uploadTarget">
                        <label for="rating">Rating (0-5)</label>
                        <input type="number" min="0" max="5" id="rating" name="rating"><br />
                        <input type="hidden" id="videoID" name="videoID" value="{{video.videoID}}">
                        <input type="submit" value="Rate" class="btn btn-primary">
                    </form>

                    <iframe src="blank.html" frameborder="0" name="uploadTarget" id="uploadTarget" height="1"
                        width="1"></iframe>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</body>

</html>