<!DOCTYPE html>
<!-- Registers an unexisting user. Redirects back with alert if fails -->
<html lang="en">
<head>
    {% include 'templates/header.html' %}
</head>

<body id="signup">
{% include 'templates/navbar.html' %}

<section class="form-alert">
    <div class="container">
        <div id="success" class="alert alert-success" role="alert">
            <h4 class="text-center">User sucessfully created!</h4>
            <p class="text-center">You can now <a href="/login">log in.</a></p>
        </div>
        <div id="fail" class="alert alert-danger" role="alert">
            <h4 class="text-center">Registration failed.</h4>
            <p class="text-center">Already a member? Please <a href="/login">log in.</a></p>
        </div>
    </div>
</section>

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Register</h1>
                <form action="/adduser" method="POST" target="regUser">

                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" name="email" class="form-control" placeholder="name@example.com"
                               aria-describedby="emailHelp" required>
                        <small id="emailHelp" class="form-text text-muted">This is also your username.</small>
                    </div>

                    <div class="form-group">
                        <label for="fullName">Full Name: </label>
                        <input type="text" class="form-control" name="fullName" placeholder="John Doe" required>
                    </div>

                    <div class="form-group">
                        <label for="passwordHash">Passord: </label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="confirmation" class="form-check-input">
                        <label for="confirmation" class="form-check-label">Lecturer? </label>
                    </div>

                    <input type="submit" name="register" value="Register" class="btn btn-primary">
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<iframe src="blank.html" frameborder="0" name="regUser" id="regUser" height="1" width="1"></iframe>

<script src="assets/js/displayError.js"></script>
</body>
</html>