<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        {% include 'templates/header.html' %}
    </head>

<body>
    {% include 'templates/navbar.html' %}
    <section class="form-alert">
        <div class="container">
            <div id="success" class="alert alert-success" role="alert">
                <h4 class="text-center">Video sucessfully uploaded!</h4>
                <p class="text-center"><a href="/manageVideos">Manage videos</a></p>
            </div>
            <div id="fail" class="alert alert-danger" role="alert">
                <h4 class="text-center">Upload failed</h4>
                <p class="text-center"><a href="/upload">Try again </a></p>
            </div>
            <div id="bad" class="alert alert-danger" role="alert">
                <h4 class="text-center">Please select a file</h4>
                <p class="text-center">You cant do that</p>
            </div>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1>Upload a new video</h1>
                    <form action="/addfile" method="post" enctype="multipart/form-data" target="uploadTarget">

                        <label for="pickVideo">Chose video file</label>
                        <input type="file" name="videoToUpload" id="pickVideo"><br>

                        <div class="form-group">
                            <label for="title">Tittel: </label>
                            <input type="text" id="title" name="title" required><br />
                        </div>

                        <div class="form-group">
                            <label for="description">Description: </label>
                            <input type="text" id="description" name="description" required><br />
                        </div>

                        <div class="form-group">
                            <label for="thumbnailUrl">ThumbnailUrl: </label>
                            <input type="text" id="thumbnailUrl" name="thumbnailUrl" required><br />
                        </div>

                        <div class="form-group">
                            <label for="subject">Subject: </label>
                            <input type="text" id="subject" name="subject" required><br />
                        </div>

                        <div class="form-group">
                            <label for="theme">Theme: </label>
                            <input type="text" id="theme" name="theme" required><br />
                        </div>

                        <input type="submit" value="upload video" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        <iframe src="blank.html" frameborder="0" name="uploadTarget" id="uploadTarget" height="1" width="1"></iframe>
    </section>


    <script src="assets/js/displayError.js"></script>
</body>

</html>