<!DOCTYPE html>
<html lang="en">
<!-- Page for viewing videoes in a subscribed playlist -->
<head>
    {% include 'templates/header.html' %}
</head>

<body>
    {% include 'templates/navbar.html' %}

    <section id="show-videos">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Videos in playlist</h1>
                </div>
            </div>
            <div class="row">
                {% for video in videos %}
                <div class="col-md-4 playlist-card-col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ video.thumbnailUrl }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><b>{{ video.title|e }}</b></h5>
                            <p class="card-title">{{ video.description }}</p>
                            <p class="card-title">{{ video.subject }}</p>
                            <p class="card-title">{{ video.theme }}</p>
                            <p class="card-text">{{ video.description }}</p>
                            <form action="/getVideo" method="POST">
                                <input type="hidden" name="videoID" value="{{video.videoID}}">
                                <input type="submit" class="btn btn-primary" value="Play">
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


</body>
</html>