<!-- Not logged in -->
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="/signup">Sign up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login">Log in</a>
    </li>
</ul>