<!-- Teacher -->
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="/manageVideos">Manage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logOut">Sign Out</a>
    </li>
</ul>