<!-- Admin -->
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="admin/teacher">Admin Panel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logOut">Sign Out</a>
    </li>
</ul>