<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'templates/header.html' %}
</head>

<body id="adminTeacher">
    {% include 'templates/navbar.html' %}
    <section id="manage">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Teacher requests</h1>
                    <table class="table">
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{user.userID}}</td>
                                <td>{{user.fullName}}</td>
                                <td>{{user.email}}</td>
                                <td>
                                    <form action="/admin/teacher" method="post">
                                        <input hidden value="{{user.userID}}" name="userID" />
                                        <button type="submit" class="btn btn-primary">Make teacher</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h1>Manage admins</h1>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <th>UserID</th>
                            <th>Name</th>
                            <th>email</th>
                            <th>Grant admin</th>
                            <th>Revoke admin</th>
                        </thead>
                        <tbody>
                            {% for file in allUsers %}
                            <tr>
                                <td>{{file.userID}}</td>
                                <td>{{file.fullName}}</td>
                                <td>{{file.email}}</td>
                                <td>
                                    <form action="/admin/grant" method="post">
                                        <input hidden value="{{file.userID}}" name="userID" />
                                        <button type="submit" class="btn btn-primary">Grant admin</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/admin/revoke" method="post">
                                        <input hidden value="{{file.userID}}" name="userID" />
                                        <button type="submit" class="btn btn-primary">Revoke admin</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>