#success, #fail, #bad {
    display: none;
}

ul.sortableList {
    list-style: none;
    padding: 0;
}

.sortableList li {
    background: #eee;
    margin: 1px;
    padding: 5px 10px;
}

.sortableList .sortable-ghost {
    opacity: .6;
}

.sortableList .selected {
    background-color: #f9c7c8 !important;
    border: solid red 1px !important;
    z-index: 1 !important;
}

.playlist-card-row, .playlist-card-col {
    padding: 80px 80px;
}

/* SPECIFIC css*/
body#index {
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    background-image: url("https://i.imgur.com/lwUu1eu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#index h1 {
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}

#index .container {
    padding-top: 22%;
    padding-bottom: 20px;
}

#index p {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

#index a {
    color: #fff;
    padding: 5px;
}

#index .btn-row .col-left {
    text-align: right !important;
    padding: 25px;
}

#index .btn-row .col-right {
    text-align: left !important;
    padding: 25px;
}

#login .form-alert {
    margin-top: 40px;
    margin-bottom: 40px;
}

#signup #success, #fail, #bad {
    display: none;
}

#signup .form-alert {
    margin-top: 40px;
    margin-bottom: 40px;
}